.balloon {
	position:absolute;
	overflow:hidden;
}
.balloon .content {
	height:44px;
	width:204px;
	padding:3px;
	font-size: 12px;
	vertical-align:top;
	word-break:break-all;
	background-image:url(../images/balloon/bg.gif);
}
.balloon .content div {
	height:40px;
	overflow:hidden;
}
 
.balloon .arrow_1 {
	margin-top:-3px;
	background-image:url(../images/balloon/01.gif);
}
.balloon .arrow_2 {
	margin-top:-3px;
	margin-left:-30px;
	background-image:url(../images/balloon/02.gif);	
}
.balloon .arrow_3{
	margin-top:1px;
	background-image:url(../images/balloon/03.gif);
}
.balloon .arrow_4{
	margin-top:1px;
	margin-left:-30px;
	background-image:url(../images/balloon/04.gif);
}