.balloon { position:absolute; overflow:hidden; }
.balloon .content { height:44px; width:204px; padding:3px; vertical-align:top;  background-image:url(../images/balloon/bg.gif);}
.balloon .content div { font-size:12px; height:40px; overflow:hidden; word-break:break-all;}
.balloon .arrow_1 { background-image:url(../images/balloon/01.gif); margin-top:-3px; }
.balloon .arrow_2 { background-image:url(../images/balloon/02.gif);	margin-top:-3px; margin-left:-30px; }
.balloon .arrow_3 { background-image:url(../images/balloon/03.gif); margin-top:1px; }
.balloon .arrow_4 { background-image:url(../images/balloon/04.gif); margin-top:1px; margin-left:-30px; }