
.tssForm { width:100%; display:block; font-size:12px; } 
.tssForm table { width:100%; }
.tssForm td { padding:3px 2px; border-width: 0; }
.tssForm input, .tssForm textarea, .tssForm select { border:1px solid #ABAAAF; background-color:#ECEFF8; padding-left:2px; }
.tssForm input { height:18px; }
.tssForm textarea { word-break:break-all; }
.tssForm select { height:18px; }
.tssForm input[type='button'] { border: 0; }
.tssForm .button { background-color:#E4EBF3; border-style:outset; }
.tssForm .field_disabled { border:1px dotted #ABAAAF; background-color:transparent; }
.tssForm .hidden { display:none; }
.tssForm input.function { padding-right:18px; }
.tssForm .functionBt { display:inline-block; width:20px; height:18px; position:relative; top:4px; left:-21px; background-image:url(../images/icon_function.gif); }
.tssForm .required { color:red; margin-left:3px; margin-right:5px; }
.tssForm .combo { }
.comboTree { background-color: white; border:1px solid #ABAAAF; border-top:none; padding: 1px; z-index:10002; }
.comboTree .switch { width: 5px; }