
.leftbar {
    position:fixed; bottom:20%; 
    z-index:100;
    width:30px; height:200px;
    background-color: lightgrey; 
    border-right:2px solid yellow;
    border-radius: 3px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.leftbar-open   { left:0; border-right:1px solid transparent; }
.leftbar-hidden { left:-30px; }

.leftbar .leftbar-menu { width:27px; height:110px; opacity:.5; padding: 90px 0 0 4px; border-radius: 3px; }
.leftbar .leftbar-menu:hover { background-color: orange; opacity:1; cursor: pointer; }

.leftbar .leftbar-menu span, 
.leftbar .leftbar-menu span:before,
.leftbar .leftbar-menu span:after {
  position: absolute;
  border-radius: 1px;
  height: 5px;
  width: 20px;
  background: #000;
  display: block;
  content: '';
}
.leftbar .leftbar-menu span:before { top: -10px; }
.leftbar .leftbar-menu span:after  { bottom: -10px; }