#alert_box { min-width: 360px; max-width: 600px; border: solid 1px #99b1c4; font-size: 12px; color: #000; }
#alert_box .title { padding-left: 8px; font-weight: bold; font-size: 13px; line-height: 1.9em; color: #fff;
	background:url(../images/alert/title.gif) repeat-x 0px -2px; }
#alert_box .ok, #alert_box .cancel { width:58px; height:24px; background:url(../images/alert/btn.gif) no-repeat; padding:0 4px; 
	border:none; cursor:pointer; text-align:center; }
#alert_box .close { position:absolute; right:7px; top:4px; width:16px;height:16px; background:url(../images/alert/close.gif) no-repeat; cursor:pointer;}
#alert_box .close:hover { background:url(../images/alert/close.gif) no-repeat -17px 0 ; }
#alert_box .alert   { background: url(../images/alert/info.gif) no-repeat 20px 18px; }
#alert_box .confirm { background: url(../images/alert/important.gif) no-repeat 20px 14px; }
#alert_box .prompt  { background: url(../images/alert/help.gif) no-repeat 20px 14px; }
#alert_box .btbox { text-align: right; border-top:1px solid #d7d7d7; margin: 1em 0em 0em 1em; padding-top:10px; }
#alert_box .content { padding: 20px 12px 10px 12px; }
#alert_box .message { padding-left: 60px; font-size:13px; }
#alert_box .prompt input[type='text'] { margin: .5em 0em; height: 20px; width: 250px; line-height: 20px; }
#alert_box .msgBox { padding:12px; background:none; overflow:auto; }
#alert_box .msgBox p { padding-top:12px; text-indent: 24px; }