
.menu { position:absolute; width:135px; padding:1px; border:1px solid #666666; background: #F9F8F7 url(../images/menu_bg.gif) repeat-y;}
.menu div { padding:5px 0px 0px 30px; font-size:12px; line-height:12px; width:104px; height:22px; overflow:hidden; position:relative; }
.menu div.separator { padding:0px; width:103px; height:1px; overflow:hidden; background-color:#A6A6A6; margin:1px 0px 1px 30px; }
.menu div img { position:absolute; width:16px; height:16px; left:2px; top:2px;}
.menu div .hasChild { width:16px; height:16px; position:absolute; right:0px; top:1px;
	background:url(../images/icon_has_child.gif) no-repeat left top; }
.menu div.active { background-color:#B6BDD2; cursor: pointer;}
.menu div.active img { left:1px; top:1px; }
.menu div.active .hasChild { left:auto; top:3px; right:0px;}
.menu div.disable { color:#A6A6A6;}
.menu div.disable img { filter:gray(); opacity:0.4; }