
.tss-panel { position:absolute; vertical-align: top; background-color: #fff; 
  box-sizing:border-box;
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  border: 1px solid #99b1c4; 
}
.tss-panel>.title { position:relative; background:url(../images/alert/title.gif) repeat-x 0px -2px; }
.tss-panel>.title h2 {  margin:0; padding:0; text-align:left; text-indent: 3px; font-size: 1.1em; height: 21px; cursor:move; color: #fff; }
.tss-panel>.title div { position:absolute; height:19px; top:1px; right:1px; }
.tss-panel>.title span { display: inline-block; float:left; width:21px; height:19px; margin-left:5px; cursor: pointer;
  background:url(../images/panel.png) no-repeat;}
.tss-panel>.title .min { background-position:-29px 0; }
.tss-panel>.title .min:hover { background-position:-29px -29px; }
.tss-panel>.title .max { background-position:-60px 0; }
.tss-panel>.title .max:hover { background-position:-60px  -29px; }
.tss-panel>.title .revert { background-position:-149px 0; display:none; }
.tss-panel>.title .revert:hover { background-position:-149px -29px; }
.tss-panel>.title .close { background-position:-89px 0; }
.tss-panel>.title .close:hover { background-position:-89px -29px; }
.tss-panel .content { height: 96%; }
.tss-panel-max { top: 0px; left: 0px; }
.tss-panel-min { height: 20px; overflow: hidden; }

.leftbar {
    position:fixed; bottom:20%; 
    z-index:100;
    width:30px; height:200px;
    background-color: lightgrey; 
    border-right:2px solid yellow;
    border-radius: 3px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.leftbar-open   { left:0; border-right:1px solid transparent; }
.leftbar-hidden { left:-30px; }

.leftbar .leftbar-menu { width:27px; height:110px; opacity:.5; padding: 90px 0 0 4px; border-radius: 3px; }
.leftbar .leftbar-menu:hover { background-color: orange; opacity:1; cursor: pointer; }

.leftbar .leftbar-menu span, 
.leftbar .leftbar-menu span:before,
.leftbar .leftbar-menu span:after {
  position: absolute;
  border-radius: 1px;
  height: 5px;
  width: 20px;
  background: #000;
  display: block;
  content: '';
}
.leftbar .leftbar-menu span:before { top: -10px; }
.leftbar .leftbar-menu span:after  { bottom: -10px; }