 
Tree\:Box a:active, Tree\:Box a:visited{
	color: #111;
}
 
Tree\:Box a.finded, Tree\:Box a.finded:active, Tree\:Box a.finded:visited {
	background-color:#FFFF99;
	border:1px solid #FFFF99;
	color:#000;
}
Tree\:Box a.moved, Tree\:Box a.moved:active, Tree\:Box a.moved:visited {
	background-color: HighLight;
	color: HighLightText;
}
Tree\:Box a.selected {
	border: 1px solid #FEF7A9 !important;
	background-color: #FEF7A9;
	color: #000000;
}
Tree\:Box table {
	width: 100%;
	border: 0px solid #A4B9D7;
	margin: 2 5 0 0;
	border-collapse: collapse;
}
Tree\:Box td {
	border-width: 0px;
	padding: 0 2 0 2;
}
Tree\:Box tr.selected td{
	background-color: #FEF7A9;
}
 

Tree\:Box .extendCheckIcon {
    width:16px;
    height:16px;
    cursor:hand;
}
Tree\:Box .extendCheckLabel {
	color:#111;
	font-size:12px;
	cursor:default;
}
Tree\:Box .extendTable {
	width:auto;
    table-layout:fixed;
}
Tree\:Box .extendTable td {
	overflow:hidden;
	text-overflow:ellipsis;
	width:50;
} 